<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>


<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">
  <h1>ACP Brevet Times</h1>
    <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>
  <div class="row">
    <!-- lets the page scale for different window widths, #justbootstrapthings -->
    <div class="col-md-4">
      <h4> CheckPoint: </h4>
      <div class="col-md-4">
        {% for entry in g.kms %}
          {% if entry != '' %}
            <p>{{entry}} km</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h4> Open Time: </h4>
      <div class="col-md-4">
        {% for entry in g.open %}
          <p>{{entry}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h4> Close Time: </h4>
      <div class="col-md-4">
        {% for entry in g.close %}
          <p>{{entry}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
      
    <!-- added a button to redirect back to '/index' -->
    <!--<a href="/index" role="button">Start Over</a> -->
    
    <form action = "/index">
        <button type = "Submit" >Go Back</button>
    </form>
    
  </div>
</div>
</body> </html>
